body {
    margin: 0;
    height: 100%;
    background-color: #670000;
}

img.intro {
    position: fixed;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    width: 500px;
    height: auto;
    display: block;
    animation: rise 2s ease-in-out forwards;
}

@keyframes rise {
    to {
        bottom: 50%;
        transform: translate(-50%, 50%);
    }
}

img.polaroid {
    display: block;
    position: fixed;
    width: 300px;
    height: auto;
    opacity: 1;
} 

img.polaroid.a{
    left: 75%;
    top: 10%;
    transform: rotate(-35deg);
}

img.polaroid.b{
    left: 15%;
    top: 70%;
    transform: rotate(-50deg);
}

img.polaroid.c{
    top: 8%;
    left: 18%;
    transform: rotate(25deg);
}

img.top {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
}

img.bottom {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
}

img.happy {
    display: block;
    position: fixed;
    left: 50%;
    top: 30%;
    width: 200px;
    height: auto;
    transform: translate(-50%, -50%);
}


img.birthday {
    display: block;
    position: fixed;
    left: 50%;
    top: 70%;
    width: 30px;
    height: auto;
    transform: translate(-50%, -50%);
}
