body {
    margin: 0;
    height: 100%;
    background-color: #670000;
}

img.intro {
    position: fixed;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    width: 500px;
    height: auto;
    display: block;
    animation: rise 2s ease-in-out forwards;
}

@keyframes rise {
    to {
        bottom: 50%;
        transform: translate(-50%, 50%);
    }
}

img.polaroid {
    display: block;
    position: fixed;
    width: 300px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img.top {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 21%;
}

.container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

img.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 21%;
    object-fit: fill;
}


img.happy {
    display: block;
    position: fixed;
    left: 50%;
    top: 33%;
    width: 190px;
    height: auto;
    transform: translate(-50%, -50%);
}


img.birthday {
    display: block;
    position: fixed;
    left: 50%;
    top: 70%;
    width: 260px;
    height: auto;
    transform: translate(-50%, -50%);
}

img.dup {
    display: block;
    position: fixed;
    left: 0;
    top: 48%;
    width: 50px;
    height: auto;
}

button {
    background-color: #F81B3F;
    font-family: 'Source serif 4';
    font-weight: 400;
    font-style: italic;
    font-size: 102px;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: fit-content;
}
