body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8D0000;
}
img {
    width: 150%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    display: block;
    font-family: 'Great Vibes', cursive !important;
    font-size: 62px;
    color: #EEEEEE;
}

