body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AD0000;
}
img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
