
body {
    background-color: #FDFBE1;
    margin: 0;
}

h1 {
    font-family: 'Source serif 4';
    font-size: 50px;
    font-weight: 100;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Source serif 4';
    font-size: 120px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    padding: 0;
    line-height: 1;
    background: linear-gradient(
    to top,
    #B22222 50%,
    transparent 50%
  );
}

p {
    margin: 0;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
}

.number {
    font-size: 90px;
}

.reasons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 30px;
    height: 100%;
    justify-items: center;
    align-items: center;
    gap: 0px;
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.color {
    background-color: #012300;
}

.photo {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    background-image: url('res/reasons-1.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

button {
    background-color: #F81B3F;
    font-family: 'Source serif 4';
    font-weight: 400;
    font-style: italic;
    font-size: 102px;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: fit-content;
}


