body {
    background-color: #FDFBE1;
    margin: 0;
}

h1 {
    font-family: 'Source serif 4';
    font-size: 50px;
}

h2 {
    font-family: 'Source serif 4';
    font-size: 90px;
    font-style: italic;
}

.number {
    font-size: 90px;
}

.reasons-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

